section{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
body{
    text-align: center;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
}
ul{
    display: inline;
    text-align: center;
    align-items: center;
    margin-right: 30px;
    
}

.facts{
    display: flex;
    margin-bottom: 20px;
}



img{
    max-height: 250px;
    margin-top: 20px;
}